
.some-tab {
   display: inline-block;
   width: 4px;
}

.some-tab-10px {
   display: inline-block;
   width: 10px;
}

.pointer-none {
   pointer-events: none;
}

.border-1px {
   //border: 1px solid #000000;
   border: 1px solid rgba(0, 0, 0, 0.1);
}




