.resume {
   padding-top: 120px;

   &__wrapper {
      padding: 60px 65px 0 65px;
      display: grid;
      grid-template-columns: repeat(2, 425px);
      column-gap: 135px;
   }

   &__column {
      &-title {
         position: relative;
         padding-left: 35px;

         &:before {
            content: '';
            position: absolute;
            width: 15px;
            height: 15px;
            background: $main-color;
            border-radius: 100%;
            left: -7px;
            top: 50%;
            transform: translateY(-50%);
         }
      }

      & > ul {
         list-style-type: none;
         padding: 0;

         & > li {
            position: relative;

            &:after {
               content: '';
               width: 1px;
               //height: calc(100% + 16px);
               height: calc(100% + 24px);
               position: absolute;
               top: -16px;
               left: 0;
               background-color: #000;
            }
         }
      }
   }

   &__item {
      position: relative;

      &:before {
         content: '';
         height: 1px;
         width: 45px;
         position: absolute;
         top: 68px;
         background-color: #000;
      }

      &-head {
         position: relative;
         padding: 45px 0 0 100px;

         h4 {
            margin-bottom: 0;
         }
      }

      &-body {
         padding-left: 43px;
         //margin-top: 15px;
         margin-top: 17px;
         font-size: 13px;
         //line-height: 18px;
         line-height: 19px;
      }

      &-icon {
         position: absolute;
         top: 50px;
         left: 45px;
         @include before_circle;

         img {
            position: absolute;
            left: 17px;
            top: 14px;
         }
      }

      &-location {
         font-size: 13px;
         line-height: 18px;
         margin-top: 5px;
      }

   }


   &__inner-li {
      list-style-type: disc;
      padding-left: 57px;
      margin-top: 22px;

      li {
         padding-left: 3px;
         margin-top: 8px;
         font-size: 13px;
         line-height: 19px;

      }

   }


}